.add-option-error {
    font-style: italic;
    margin: 0;
    padding: $m-size;
    text-align: center;
    font-weight: bold;
    font-size: $m-size;
}

.add-option {
    display: flex;
    height: 6.4rem;
}

.add-option__input {
    flex-grow: 1;
    font-size: $m-size;
}

@media (max-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: column;
        height: 9rem;
    }

    .add-option__input {
        flex-grow: 1;
    }
}