.footer {
    background: $light-blue;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    font-style: italic;
}

.footer__copyright {
    font-size: $m-size;
}