.footer {
    background: $light-blue;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;
    font-style: italic;
    font-size: $m-size;
}

@media (max-width: 20rem) {
    .footer {
        font-size: 1.4rem;
    }
}