.widget {
    background: $dark-blue;
}

.widget-header {
    background: $light-blue;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
    border-bottom: $xxs-size solid $black;
    font-size: $m-size;
}

.widget-header__title {
    margin: 0;
}

.widget__message {
    margin: 0;
    padding: $m-size;
    text-align: center;
    border-bottom: $xxs-size solid $black;
    font-weight: bold;
    font-size: $m-size;
    font-style: italic;
}

@media (max-width: 20rem) {
    .widget-header {
        flex-direction: column-reverse;
    }
}

@media (max-width: $desktop-breakpoint) {
    .widget-header {
        font-size: 1.6rem;
    }

    .widget__message {
        font-size: 1.5rem;
    }
}